<% if user_signed_in? %>
  <%= render partial: "shared/header" %>
<% else %>
  <%= render partial: "shared/second_header" %>
<% end %>
<div class="wrapper">
  <div class="main">
    <div class="main-content">
      <%= render partial: "shared/articles" %>      
    </div>
    <!-- //main-content -->
  </div>
  <!-- //main -->
  <div class="side"></div>
  <!-- //side -->
</div>
<!-- //wrapper -->
<%= render partial: "shared/footer" %>