// index
.article-title> a{
  color: $side-anker-color;
}
.article-title> a:hover{
  text-decoration: underline;
}

// index, show
.articles{
  margin: 50px 0;
}
.article{
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid lighten($black, 30%);
}
.article-header{
  display: flex;
  justify-content: space-between;
}
.article-info{
  display: flex;
  margin-bottom: 30px;
}
.article-title{
  font-size: 20px;
  font-weight: 600;
}
.article-header-right{
  display: flex;
  align-items: center;
}
.article-info-right> div{
  height: calc($article-show-avatar-size / 2);
  font-size: calc(($article-show-avatar-size / 2) * 4 / 5);
  line-height: calc($article-show-avatar-size / 2);
}
// 
.article-show-summary,
.paragraph{
  margin-bottom: 55px;
}
.article-show-content{
  margin-bottom: 16px;
}

// new, edit
.article-form, #article-hard-code, #edit-article-form,
.paragraph-form, #paragraph-hard-code, #edit-paragrapth-form,
#edit-image-form{
  width: 600px;
  margin-bottom: 55px;
}
.article-form> label, .article-form> input, .article-form> textarea,
.paragraph-form> label, .paragraph-form> input, .paragraph-form> textarea,
#edit-article-form> label, #edit-article-form> input, #edit-article-form> textarea,
#edit-paragraph-form> label, #edit-paragraph-form> input, #edit-paragraph-form> textarea,
#edit-image-form> label, #edit-image-exp{
  display: block;
  width: 100%;
}
.article-form> input,
.paragraph-form> input,
#edit-article-form> input,
#edit-paragraph-form> input,
#edit-image-exp{
  padding: 8px;
  margin-bottom: 16px;
}
.article-form> textarea,
.paragraph-form> textarea,
#edit-article-form> textarea,
#edit-paragraph-form> textarea{
  padding: 8px;
  height: 150px;
  margin-bottom: 55px;
}
#edit-paragraph-form> textarea{
  margin-bottom: 16px;
}

// edit
$paragraph-bar-height: 37px;
#edit-article-form, #edit-paragraph-form{
  display: none;
}
#add-paragraph-bar, #add-image-bar{
  position: relative;
  height: $paragraph-bar-height;
}
#paragraph-bar, #image-bar{
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  top: calc(50% - 1px);
  left: 0;
  background-color: darken($submit-color, 25%);
}
#add-paragraph-btn, #add-image-btn{
  position: absolute;
  left: calc(50% - 65px);
  top: 0;
  width: 130px;
  height: $paragraph-bar-height;
}

// edit(hard-code)
#article-hard-code, .paragraph-hard-code{
  color: lighten($black, 20%);
}
.paragraph-hard-code{
  margin-bottom: 55px;
}
.article-hard-code> div,
.paragraph-hard-code> div{
  margin-bottom: 16px;
}
.hard-code-image{
  width: 100%;
  object-fit: contain;
}
.hard-code-image> img{
  max-width: 100%;
  height: auto;
}
.hard-code-image-exp{
  margin-bottom: 16px;
}
