.user-form{
  margin: 135px auto 110px;
  padding: 50px;
  width: 600px;
  background-color: lighten($black, 80%);
}
.user-form-list{
  width: 90%;
  margin: 0 auto;
}
.user-form-list> label{
  display: block;
}
.user-form-list> input{
  display: block;
  padding: 8px;
  width: 100%;
  margin-bottom: 16px;
}

// mypage
.user-info{
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mypage-name{
  font-size: 56px;
  margin-right: 35px;
}
.mypage-edit-or-delete> a{
  display: block;
  color: $side-anker-color;
}
.mypage-edit-or-delete> a:hover{
  text-decoration: underline;
}

#mypage-avatar-edit{
  display: block;
  background-color: lighten($anker-color, 50%);
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#mypage-avatar-edit> img{
  width: 100%;
  height: 100%;
}