<!-- 記事一覧 -->
<div class="articles">
  <div class="article">
    <div class="article-header">
      <div class="article-title">
        <%# <a href="../articles/show.html"></a> %>
        <%= link_to "記事2号", "#" %>
      </div>
      <div class="article-header-right">
        <div class="article-index-avatar">
          <%= image_tag "user.svg" %>
        </div>
        <div class="article-index-user-name">
          間宮林蔵
        </div>
      </div>
    </div>
    <div class="article-content">
      この度、私たちは北海道の北方を探検し、樺太が半島であることを確認いたしました。島の名は「樺太島」に決定いたします。
    </div>
  </div>
  <!-- //記事 -->
  <div class="article">
    <div class="article-header">
      <div class="article-title">
        <%# <a href="../articles/show.html"></a> %>
        <%= link_to "記事1号", "#" %>
      </div>
      <div class="article-header-right">
        <div class="article-index-avatar">
          <%= image_tag "user.svg" %>
        </div>
        <div class="article-index-user-name">
          青木昆陽
        </div>
      </div>
    </div>
    <div class="article-content">
      みんなでサツマイモを植えましょう。
    </div>
  </div>
  <!-- //記事 -->
</div>
<!-- //記事一覧 -->