<div class="article">
  <div class="article-header">
    <div class="article-title">
      <%# <a href="../articles/show.html"></a> %>
      <%= link_to article.title, "#" %>
    </div>
    <div class="article-header-right">
      <div class="article-index-avatar">
        <%= image_tag "user.svg" %>
      </div>
      <div class="article-index-user-name">
        <%= article.user.name %>
      </div>
    </div>
  </div>
  <div class="article-content">
    <%= article.summary.match(/[^\n]{,25}/)[0] %>
  </div>
</div>
<!-- //記事 -->