<div class="wrapper-content">
  <div class="destroy-messages">
    <div class="destroy-message">
      記事を削除しました。
    </div>
    <%= link_to "トップに戻る", articles_path, id: "return-fill-width" %>
  </div>
</div>
<!-- //wrapper-content -->