<div class="wrapper-content">
  <div class="destroy-messages">
    <div class="destroy-message">
      記事を削除しました。
    </div>
    <a href="../articles/index.html" id="return-fill-width">トップに戻る</a>
  </div>
</div>
<!-- //wrapper-content -->