<header>
  <div class="content header-content">
    <div class="header-logo">
      <a href="../home/top.html">Life Master</a>
    </div>
    <div class="header-menu">
      <div>
        <label class="header-menu-open" id="menu-open">
          <div></div>
          <div></div>
          <div></div>
        </label>
        <div class="header-menu-items" id="menu-items">
          <a href="../articles/index.html">
            <div class="header-menu-image">
              <%= image_tag "articles.svg" %>
            </div>
            記事一覧
          </a>
          <a href="../sessions/new.html">
            <div class="header-menu-image">
              <%= image_tag "login.svg" %>
            </div>
            ログイン
          </a>
          <a href="../registrations/new.html">
            <div class="header-menu-image">
              <%= image_tag "user-new.svg" %>
            </div>
            新規登録
          </a>
        </div>
        <label class="header-menu-close" id="menu-close">
          <div></div>
          <div></div>
        </label>
      </div>
    </div>
  </div>
</header>
