<%= render partial: "shared/second_header" %>
<style>
  #root{
    height: calc(100vh - 70px);
    width: 100%;
    overflow: hidden;
  }
  .center-logo-wrap{
    position: relative;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .center-logo{
    font-size: 70px;
  }
  .center-sub-logo{
    font-size: 30px;
  }
  #earth{
    position: fixed;
    width: 100vw;
    height: 100vw;
    top: 70vh;
    transform-style: preserve-3d;
    animation: 12s linear 1s infinite normal rotate;
  }
  .earth-c{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #bbb;
  }
  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
</style>
<div id="root">
  <div class="center-logo-wrap">
    <div class="center-logo">Life Master</div>
    <div class="center-sub-logo">生活を豊かにするアイデア投稿サイト</div>
  </div>
  <div id="earth"></div>
</div>
<script>
  const earth = document.getElementById('earth');
  let nsC = 0;
  while (nsC < 12) {
    const nsDiv = `<div class="earth-c" style="transform:rotateY(${nsC * 15}deg)"></div>`;
    earth.insertAdjacentHTML('beforeend', nsDiv);
    nsC++;
  }
  let ewC = 0;
  while (ewC < 12) {
    const ewDiv = `<div class="earth-c" style="transform:rotateX(${ewC * 15}deg)"></div>`;
    earth.insertAdjacentHTML('beforeend', ewDiv);
    ewC++;
  }
  let gC = 0;
  while (gC < 12) {
    const gDiv = `<div class="earth-c" style="transform:rotateZ(${gC * 15}deg)"></div>`
    earth.insertAdjacentHTML('beforeend', gDiv);
    gC++;
  }
</script>