<% if user_signed_in? %>
  <%= render partial: "shared/header" %>
<% else %>
  <%= render partial: "shared/second_header" %>
<% end %>
<div style="height: calc(100vh - 70px);"></div>
<%= render partial: "shared/footer" %>